.job-status-summary-table tbody th {
	font-weight: bold;
	text-align: end;
	white-space: nowrap;
	width: 0.1%;
}

.job-status-summary-table tbody ul {
	margin-bottom: 0;
	padding-left: 15px;
}

.job-status-keep-id-warning {
	display: inline-block;
	margin-top: 0.4em;
}

.job-processing-error-details {
	cursor: pointer;
	display: inline-block;
}

.job-processing-error-details[open] {
	padding-top: 5px;
}

.job-processing-error-details[open] summary {
	margin-bottom: 0.4em;
}

.job-processing-error-details aside {
	background-color: var(--pico-card-sectioning-background-color);
	cursor: auto;
}
