{% extends '__root.html' %}

{% block body_block %}
<h2> Welcome to D3lta UI </h2>
<div class="paragraph">
	<p>
		D3lta UI provides an easy way to analyse CSV files using <a href="https://github.com/VIGINUM-FR/D3lta" target="_blank">D3lta</a>.
	</p>
	<p>
		To upload a new file or check the processing status of a previously uploaded file, use the menu above.
	</p>
	<p>
		To confirm the integrity of this tool, please download the synthetic dataset documents from <a href="https://github.com/VIGINUM-FR/D3lta/releases/tag/1.0.0" target="_blank">here</a> and follow <a href="https://github.com/VIGINUM-FR/D3lta?tab=readme-ov-file#-synthetic-dataset" target="_blank">the instructions</a> on the D3lta GitHub page.
	</p>
</div>
{% endblock %}
